body {
    margin: 0;
}

.page-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    min-height: 100vh;
}

.header {
    background-color: lightpink;
}

.sidebar {
    background-color: lightblue;
    grid-row: 1 / 3;

}

.main-content {
    background-color: lightgreen;
    grid-column: 2 / 3;
}