body {
    margin: 0;
}

.page-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    min-height: 100vh;
}

.header {
    background-color: lightpink;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.user-info {
    display: flex;
}

.greeting {
    display: flex;
}

.sidebar {
    background-color: lightblue;
    grid-row: 1 / 3;
    display: grid;
    justify-items: center;
}

.sidebar-logo {
    display: flex;
}

.nav-item {
    display: flex;
}

.main-content {
    background-color: lightgreen;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

.project-container{
    grid-column: 1 / 2;
}

.trend-container {
    grid-column: 2 / 3;
}

.project-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.project-item, .announce-main, .trend-main {
    background-color: white;
}